html {
    background-color: #222;
}

h1 {
    color: white;
    margin-top: 20px;
    text-align: center;
}

.container {
    background-color: white;
    margin: 30px auto;
    padding: 30px 20px;
}

.table {
    margin:auto;
}